@import "reset.scss";

html,body{
  height: 100vh;
}

body{
  background: #f7f7f7;
  background: linear-gradient(to bottom,  #fefefe 0%,#ffffff 100%);
  font-family: sans-serif;
  letter-spacing: 0.04rem;
}

main{
  width: 90%;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #404551;
}

hr{
  max-width:50px;
  border:2px solid #60B5CC;
  margin:20px 0;
}

a{
  color: #5fb4cb;
}

p,li{
  font-size: 0.9rem;
  margin: 5px 0;
  color: #666;
}

li{
  list-style:disc;
  margin-left: 20px;
}

.heart{
  visibility: hidden;
  display: inline-block;
  width:20px;
  position: relative;
  color: red;
  &:after{
    visibility: visible;
    content: '\2665';
    position: absolute;
    left: 0px;
    top:0;
  }
}

header.main{
  margin-bottom: 1rem;
  padding: 2rem 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color:#404551;
  display: flex;
  align-items: center;
  img{
    width: 70px;
    float: left;
    margin-right: 10px;
  }
}

.posts-container{
  .post{
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
    position: relative;
    transition: box-shadow 0.7s;
    border-bottom: 1px solid rgba(95,180,203,0.1);
    min-width: 280px;
    a{
      text-decoration: none;
    }
    span,p{
      color: #7d97ad;
      font-size:0.8rem;
    }
    p{
      font-family: serif;
      letter-spacing: 0.06rem;
      font-style: italic;
    }
    &:after{
      transition: color 0.7s;
      position: absolute;
      right:3%;
      top:40%;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 1.3rem;
      text-rendering: auto;
      margin-right: 10px;
      content:"\f04b";
      color:#5fb4de;
    }
    &:hover{
      //background: #f6f6f6;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 20px 50px rgba(95,180,203,0.5);
      &:after{
        color:#efb952;
      }
    }
  }
  .post.latest{
    background: transparent;
    min-height: 250px;
    border-bottom: 0;
    h3{
      font-size:2em;
    }
    span,p{
      font-size:0.9rem;
    }
    &:after{
      content: ''
    }
    &:hover{
      h3 {
        color: lighten(#404551, 10%);
      }
      span,p{
        color: #7d97ad;
      }
      box-shadow: none;
    }
  }
}

#open:target{
  display: block;
}

.overlay{
  display: none;
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  z-index:3;
}

.info{
  overflow: scroll;
}

.container{
  padding:2rem;
}

.page{
  background:#fff;
  height: 95%;
  margin:20px;
  display: flex;
  flex-flow: column;
  header{
    background: #5fb4cb;
    padding:2rem;
    flex:1;
    h3{
      font-size:2em;
      color:#fff;
    }
    span,p{
      font-size:0.9rem;
      color: lighten(#5fb4cb, 30%);
    }
  }
  .info{
    flex:2;
  }
  .close{
    position: absolute;
    top: 3%;
    right: 7%;
    color: lighten(#5fb4cb, 30%);
    font-size: 2rem;
    text-decoration: none;
  }
}

.sponser-container{
  width:70%;
  text-align: center;
  margin: 60px auto 0 auto;
  font-size: 1.3rem;
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  li{
    width: 40%;
    margin:1rem;
    list-style: none;
  }
  img{
    width: 100%;
  }
}

@media(min-width:725px){

  header.main{
    position: fixed;
    margin-bottom: 2rem;
  }


  .posts-container{
    float: right;
    margin: 7% 4% 5% 0;
    width:35%;
    z-index:2;
    .post.latest{
      top:30%;
      padding: 0;
      left:4%;
      position: fixed;
      z-index:1;
      width:50%;
      h3{
        font-size:4rem;
      }
    }
  }

  .sponser-container{
    position: fixed;
    width:45%;
    bottom: 1rem;
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    li{
      width: 20%;
    }
  }

  .page{
    flex-flow: row;
    align-items: stretch;
    header{
      display: flex;
      align-items: center;
    }
    .info > div {
      width: 50%;
      margin: auto;
    }
    .close{
      right:2%;
      color:#ccc;
    }
  }

}
