<section class="sponsor-container">
  <h4>We <i class="heart">love</i> our sponsors, and we hope you will, too.</h4>
  <ul>
    <li id="logo-day-one">
      <a href="https://dayoneapp.com/">
        <img src="/images/logo-day-one.svg" alt="Day One Logo" />
      </a>
    </li>
    <li id="logo-dailydrip">
      <a href="https://www.dailydrip.com/">
        <img src="/images/dailydrip-logo.png" alt="Daily Drip Logo" />
      </a>
    </li>
    <li id="logo-chilicorn">
      <a href="https://spiceprogram.org/">
        <img src="/images/chilicorn-notext.png" alt="Futurice Spice Program Logo" />
      </a>
    </li>
    <li id="logo-ellie">
      <a href="https://ellie-app.com/new">
        <img src="/images/ellie-logo.png" alt="Ellie Logo" />
      </a>
    </li>
  </ul>
</section>
