<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description | strip_html }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://use.fontawesome.com/69ecf6de5f.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css" media="screen" title="no title">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
</head>

<body>
  <main>
    <header class="main">
      <img src="images/logo.png" alt="Elm Town Podcast Logo" />Elm Town Podcast
    </header>
    <section class="posts-container">
      <ul>
        <li class="post latest">
          <h2>Latest Episode</h2>
          <header>
            <span class="date">Jan 24, 2017</span><br/>
            <hr />
            <a href="#open"><h3>Ep.5 Arriving in Elm Town</h3></a>
            <p>Featuring Tessa, Terezka, and Richard</p>
          </header>
        </li>
        <li class="post">
          <header>
            <span class="date">Jan 24, 2017</span>
            <a href="#open"><h3>Ep.4 Arriving in Elm Town</h3></a>
            <p>Featuring Tessa, Terezka, and Richard</p>
          </header>
        </li>
      </section>
    </main>

    <section class="sponser-container">
      <h4>We <i class="heart">love</i> our sponsors, and we hope you will, too.</h4>
      <ul>
        <li><img src="https://cloud.githubusercontent.com/assets/22400633/20069227/fae09f7e-a4d8-11e6-9404-3f1fa8566f6e.png" alt="Humble Spark Logo"/></li>
        <li><img src="/images/dayone.png" alt="Day One Logo"/></li>
        <li><img src="https://cloud.githubusercontent.com/assets/22400633/20069240/0951aba2-a4d9-11e6-9c19-206b6c9f615d.png" alt="Daily Drip Logo"/></li>
        <li><img src="/images/logo-futurice.svg" alt="Futurice Logo"/></li>
      </ul>
    </section>
  </body>
</html>
